
<link type="text/css" rel="stylesheet" href="stylesheet.css"/>

<body align="center">

<div id="versus" align="center">
<h1>
<em style="color:black" ; "font-size:200">
<%= greeting %> VS <%= greeting2 %>! </em>
</h1>
</div>

<div id="gamestage" align="center">
<p> gamestage </p>
</div>

<div id="player1deck" align="left">
<h1 align="center"> <%= greeting %> </h1>
<img src="deck.jpg" width="300" height="305">
<img src="hand.jpg" width="300" height="201">
<h1 align="center"> <%= greeting %> Nukes: 3 </h1>
</div>

<div id="player2deck" align="right">
<h1 align="center"> <%= greeting2 %> </h1>
<img src="deck.jpg" width="300" height="305">
<img src="hand.jpg" width="300" height="201">
<h1 align="center"> <%= greeting2 %> Nukes: 3 </h1>
</div>

<div id="board">
<img src="boardleft.jpg" width="400" height="497">
<img src="boardright.jpg" width="400" height="497">
</div>

<div id="actives">
<img src="activecards.jpg" width="400" height="196">
<img src="dobattle.jpg" width="200" height="103" padding-bottom="10px" >
<img src="activecards.jpg" width="400" height="196">
</div>


</body>

